.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
esbuild.js
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
.git/**
images/generate-icon.html
images/icon.svg
images/screenshot-guide.html
images/screenshot-*.png
images/demo.gif
